# 03 - SQL Analysis
In this notebook, we use SQLite and Pandas to query SpaceX launch data and perform descriptive analysis.

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
df = pd.read_csv('datasets/spacex_launch_data.csv')
conn = sqlite3.connect(':memory:')
df.to_sql('spacex', conn, index=False, if_exists='replace')

## 1. Count of Launches per Site

In [ ]:
query1 = "SELECT [Launch Site], COUNT(*) as Launch_Count FROM spacex GROUP BY [Launch Site]"
pd.read_sql(query1, conn)

## 2. Most Frequent Orbit Type

In [ ]:
query2 = "SELECT Orbit, COUNT(*) as Count FROM spacex GROUP BY Orbit ORDER BY Count DESC LIMIT 1"
pd.read_sql(query2, conn)

## 3. Average Payload per Mission Outcome

In [ ]:
query3 = "SELECT [Mission Outcome], AVG([Payload Mass (kg)]) as Avg_Payload FROM spacex GROUP BY [Mission Outcome]"
pd.read_sql(query3, conn)